.homeHeader{
    height: 17%;
    background-color: #EEF1F3;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 15px;
}

.title{
    width: 60%;
    align-self: center;
    text-align: right;
    font-size: 24px;
    font-family: 'Nuosu SIL', serif;
    font-weight: bolder;
    color: #2f2e41;
}

.imageDesign{
    width: 100%;
    justify-content: right;
    align-self: center;
    margin-left: 18%;
}

.nameUser{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    right: 25px;
    top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EEF1F3;
}

.nameUser h3{
    margin: 0px;
}

ul{
    display: flex;
    flex-direction: column;
}

li{
    width: 70%;
    align-self: center;
}

@media(min-width: 1024px){
    .title{
        width: 60%;
        text-align: left;
        font-size: 32px;
        padding: 2%;
    }

    .nameUser{
        width: 4%;
        height: 7%;
        position: absolute;
        right: 50px;
        top: 50px;
    }
}